.post {
  border-radius: 6px;
  box-shadow: 0 0 15px -2px rgba(95, 95, 95, 0.4);
  grid-column: auto / span 6;
  grid-row: auto / span 3;
  height: 310px;
  overflow: hidden;
  position: relative;
  will-change: opacity;
}

.post:nth-child(1) {
  grid-column: auto / span 6;
  grid-row: auto / span 4;
  height: 480px;
}

@media (min-width: 700px) {
  .post {
    grid-column: auto / span 3;
  }

  .post:nth-child(1) h2 {
    font-size: 28px;
  }
}

@media (min-width: 1000px) {
  .post {
    grid-column: auto / span 2;
  }

  .post:nth-child(1) {
    grid-column: auto / span 4;
  }

  .post:nth-child(2) {
    height: 400px;
  }

  .post:nth-child(3) {
    height: 390px;
  }

  .post:nth-child(4) {
    grid-row: auto / span 2;
  }

  .post:nth-child(5) {
    grid-row: auto / span 2;
  }
}

.image {
  background-color: #111;
  filter: contrast(120%) brightness(120%) grayscale(0);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: filter 0.3s linear;
  width: 100%;
  will-change: filter;
  z-index: -2;
}

.url {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding: 25px;
  width: 100%;
}

.url:hover .image {
  filter: contrast(150%) brightness(110%) grayscale(40%);
}

.content {
  background-color: rgba(0,0,0,0.85);
  border-radius: 6px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.date {
  color: rgb(255, 145, 0);
  font-size: 14px;
  font-weight: 600;
}
